Repository easybuilders/easybuild-framework, pull requests merged in 2023-09, with the labels that each got.

#4273 remove deprecated `descr` option for `simple_option`
  easybuild/base/generaloption.py
Labels: change, code cleanup, EasyBuild-5.0

#4274 remove deprecated `Toolchain.add_dependencies`
  easybuild/tools/toolchain/toolchain.py
Labels: change, code cleanup, EasyBuild-5.0

#4275 remove deprecated functionality from `filetools`
  easybuild/tools/filetools.py
Labels: change, code cleanup, EasyBuild-5.0

#4276 remove deprecated `log_error` option from `which` function
  easybuild/tools/filetools.py
Labels: change, code cleanup, EasyBuild-5.0

#4279 removed deprecated `mod_exists_regex_template` options in `ModulesTool.exist`
  easybuild/tools/modules.py
Labels: change, code cleanup, EasyBuild-5.0

#4277 remove deprecated `skip_lower` option from `template_constant_dict`
  easybuild/framework/easyconfig/templates.py
Labels: change, code cleanup, EasyBuild-5.0

#4261 avoid error being logged when checksums.json is not found
  easybuild/framework/easyblock.py
  test/framework/easyblock.py
Labels: bug fix

#4150 Improve error when checksum dict has no entry for a file
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: bug fix

#4341 prepare release notes for EasyBuild v4.8.1 + bump version to 4.8.1
  RELEASE_NOTES
  easybuild/tools/version.py
Labels: update, documentation

#4343 Supress ==> Suppress in help for `--silence-hook-trigger`
  easybuild/tools/options.py
Labels: enhancement

#4344 sync with main + bump version to 4.8.2dev
  RELEASE_NOTES
  easybuild/tools/version.py
Labels: update

#4345 clean up stray regex.search in `test_checksum_step`
  test/framework/easyblock.py
Labels: code cleanup, tests

#4333 add CI workflow to run unit tests with Python 2 (again)
  .github/workflows/unit_tests_python2.yml
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/options.py
  test/framework/toy_build.py
Labels: bug fix, tests

#4350 reset `tempfile.tempdir` to `None` to avoid that tmpdir path gets progressively deeper with each easystack item
  easybuild/main.py
  test/framework/easystack.py
Labels: bug fix, easystack

#4192 reduce number of CI jobs by testing for Lua and Tcl module syntax in a single CI job
  .github/workflows/unit_tests.yml
Labels: change, tests
