Repository easybuilders/easybuild-framework, pull requests merged in 2023-04, with the labels that each got.

#4233 Remove bootstrap script
  .github/workflows/bootstrap_script.yml
  easybuild/scripts/bootstrap_eb.py
  easybuild/tools/version.py
  setup.py
Labels: enhancement, EasyBuild-5.0

#4238 switch to Ubuntu 22.04 in GitHub Actions workflow to run container tests
  .github/workflows/container_tests.yml
Labels: bug fix, tests

#4237 remove experimental support for YAML-based easyconfig format (.yeb)
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/framework/easyconfig/format/yeb.py
  easybuild/framework/easyconfig/parser.py
  easybuild/framework/easyconfig/tools.py
  easybuild/tools/options.py
  easybuild/tools/repository/filerepo.py
  easybuild/tools/systemtools.py
  test/framework/easyconfigs/test_ecs/p/Python/Python-2.7.10-intel-2018a.eb
  test/framework/easyconfigs/yeb/CrayCCE-5.1.29.yeb
  test/framework/easyconfigs/yeb/Python-2.7.10-intel-2018a.yeb
  test/framework/easyconfigs/yeb/SQLite-3.8.10.2-foss-2018a.yeb
  test/framework/easyconfigs/yeb/bzip-bad-toolchain.yeb
  test/framework/easyconfigs/yeb/bzip2-1.0.6-GCC-4.9.2.yeb
  test/framework/easyconfigs/yeb/foss-2018a.yeb
  test/framework/easyconfigs/yeb/gzip-1.6-GCC-4.9.2.yeb
  test/framework/easyconfigs/yeb/intel-2018a.yeb
  test/framework/easyconfigs/yeb/toy-0.0.yeb
  test/framework/repository.py
  test/framework/suite.py
  test/framework/toy_build.py
  test/framework/yeb.py
Labels: code cleanup, EasyBuild-5.0

#4216 fix typo in condition guarding installation of GitHub token in CI workflow to run unit tests + fix broken tests related to GitHub integration features
  .github/workflows/unit_tests.yml
  test/framework/github.py
  test/framework/options.py
Labels: bug fix, tests

#4242 remove deprecated --accept-eula option
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/options.py
  test/framework/sandbox/easybuild/easyblocks/t/toy_eula.py
Labels: code cleanup, EasyBuild-5.0

#4240 remove deprecated dummy toolchain
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/toolchains/compiler/dummycompiler.py
  easybuild/toolchains/dummy.py
  easybuild/tools/config.py
  easybuild/tools/docs.py
  easybuild/tools/options.py
  easybuild/tools/toolchain/toolchain.py
  test/framework/easyconfig.py
  test/framework/toolchain.py
Labels: code cleanup, EasyBuild-5.0

#4241 use "/usr/bin/env python" in test_run_cmd_script
  test/framework/run.py
Labels: bug fix

#4243 remove deprecated is_generic_easyblock from easyconfig.py
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: change, code cleanup, EasyBuild-5.0

#4246 change default for change_into_dir to False for extract_file
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: change, code cleanup, EasyBuild-5.0

#4245 remove deprecated fetch_extension_sources
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
Labels: change, code cleanup, EasyBuild-5.0

#4244 remove deprecated use_git_am option to apply_patch
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: change, code cleanup, EasyBuild-5.0

#4239 remove deprecated --wait-on-lock option
  easybuild/tools/config.py
  easybuild/tools/filetools.py
  easybuild/tools/options.py
  test/framework/toy_build.py
Labels: change, code cleanup, EasyBuild-5.0

#4247 enforce correct extentions for patch files
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: change, code cleanup, EasyBuild-5.0

#4236 bump version to 5.0.0.dev0
  .github/workflows/eb_command.yml
  easybuild/tools/version.py
Labels: EasyBuild-5.0
