Repository easybuilders/easybuild-framework, pull requests merged in 2023-11, with the labels that each got.

#4374 sync with main + bump version to 4.9.0dev
  RELEASE_NOTES
  easybuild/tools/version.py
Labels: update

#4375 only install GitHub token when testing with Lmod 8.x + Python 3.6 or 3.9
  .github/workflows/unit_tests.yml
Labels: bug fix, tests

#4361 deduplicate warnings & errors found in logs and add initial newline + tab in output
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix, change

#4356 change `run_shell_cmd` to store command output in temporary file(s) by default + pass `RunShellCmdResult` instance to `RunShellCmdError`
  easybuild/tools/modules.py
  easybuild/tools/run.py
  easybuild/tools/systemtools.py
  test/framework/run.py
  test/framework/systemtools.py
Labels: bug fix, change, EasyBuild-5.0

#4377 Use `-qopenmp` instead of `-fiopenmp` for OpenMP in Intel compilers
  easybuild/toolchains/compiler/intel_compilers.py
  test/framework/toolchain.py
Labels: bug fix

#4378 rename `shell` option in `run_shell_cmd` to `use_bash`
  easybuild/tools/modules.py
  easybuild/tools/run.py
  test/framework/run.py
Labels: change, EasyBuild-5.0

#4380 print error message in `main_with_hooks` function when `EasyBuildError` was raised
  easybuild/main.py
  easybuild/tools/build_log.py
  test/framework/toy_build.py
Labels: bug fix, EasyBuild-5.0

#4383 start adopting `run_shell_cmd` in easyblock.py (+ use f-strings)
  easybuild/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0
