Repository easybuilders/easybuild-framework, pull requests merged in 2024-12, with the labels that each got.

#4712 Fix GitHub Actions for CentOS 7.9 container
  .github/workflows/end2end.yml
  .github/workflows/unit_tests.yml
  .github/workflows/unit_tests_python2.yml
Labels: bug fix, tests

#4707 enhance `EasyBlock` class to allow passing in `logfile`
  easybuild/framework/easyblock.py
  test/framework/easyblock.py
Labels: enhancement

#4629 Rename '`source`' step to '`extract`' (affects `skipsteps` easyconfig parameter + `--stop` option)
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/hooks.py
  easybuild/tools/options.py
  test/framework/hooks.py
  test/framework/options.py
  test/framework/toy_build.py
  test/framework/utilities.py
Labels: change, EasyBuild-5.0

#4478 tweak `setup.py` to fall back to importing `setup` from `setuptools` if `distutils` is not available
  .github/workflows/unit_tests.yml
  setup.py
Labels: bug fix, EasyBuild-5.0

#4690 Refactor `make_extension_string`
  easybuild/framework/easyblock.py
  easybuild/tools/module_generator.py
Labels: EasyBuild-5.0

#4645 add `--search-path-cpp-headers` configuration option to control how EasyBuild sets paths to headers at build time
  easybuild/toolchains/fcc.py
  easybuild/toolchains/linalg/acml.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  easybuild/tools/toolchain/compiler.py
  easybuild/tools/toolchain/constants.py
  easybuild/tools/toolchain/toolchain.py
  easybuild/tools/toolchain/variables.py
  easybuild/tools/utilities.py
  test/framework/toolchain.py
  test/framework/utilities_test.py
Labels: enhancement, EasyBuild-5.0

#4718 sync with develop (20241207)
  .github/workflows/end2end.yml
  .github/workflows/unit_tests.yml
  easybuild/framework/easyblock.py
  easybuild/scripts/findUpdatedEcs.sh
  test/framework/easyblock.py
Labels: EasyBuild-5.0

#4699 enhance `get_software_libdir` to return full paths if requested
  easybuild/tools/modules.py
  test/framework/modules.py
Labels: enhancement, EasyBuild-5.0

#4677 Add `resolve_template` method to `EasyConfig` class
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: enhancement

#4721 make sure `type module` is run during a dry run
  .github/workflows/end2end.yml
  easybuild/tools/modules.py
Labels: bug fix, EasyBuild-5.0

#4688 add `--keep-debug-symbols` configuration option to set default value of '`debug`' toolchain option, and enable it by default so `-g` is included in `$CXXFLAGS` & co
  easybuild/tools/config.py
  easybuild/tools/options.py
  easybuild/tools/toolchain/compiler.py
  test/framework/options.py
  test/framework/toolchain.py
Labels: enhancement, EasyBuild-5.0

#4698 change `Toolchain.get_flag` so it doesn't automatically prepend a dash (`-`) to compiler flags, add deprecation warning for `optarch` value without leading dash, rename `Compiler.COMPILER*_FLAGS` to `Compiler.COMPILER*_OPTIONS`
  easybuild/toolchains/compiler/clang.py
  easybuild/toolchains/compiler/craype.py
  easybuild/toolchains/compiler/cuda.py
  easybuild/toolchains/compiler/fujitsu.py
  easybuild/toolchains/compiler/gcc.py
  easybuild/toolchains/compiler/intel_compilers.py
  easybuild/toolchains/compiler/inteliccifort.py
  easybuild/toolchains/compiler/nvhpc.py
  easybuild/toolchains/compiler/pgi.py
  easybuild/toolchains/mpi/intelmpi.py
  easybuild/tools/options.py
  easybuild/tools/toolchain/compiler.py
  easybuild/tools/toolchain/constants.py
  easybuild/tools/toolchain/toolchain.py
  easybuild/tools/toolchain/toolchainvariables.py
  test/framework/toolchain.py
  test/framework/toolchainvariables.py
Labels: change, EasyBuild-5.0

#4723 run sanity checks commands from an empty temporary directory (rather than the software install directory)
  easybuild/framework/easyblock.py
  test/framework/toy_build.py
Labels: bug fix, change, EasyBuild-5.0

#4660 improve portability of reproducible tarballs by replacing external `tar` command with `tarfile` module
  easybuild/framework/easyblock.py
  easybuild/tools/filetools.py
  test/framework/easyblock.py
  test/framework/filetools.py
Labels: enhancement, bug fix, EasyBuild-5.0

#4715 Rename `post_install_step` to `post_processing_step` + deprecate use of `post_install_step`
  easybuild/framework/easyblock.py
  test/framework/docs.py
  test/framework/easyblock.py
  test/framework/sandbox/easybuild/easyblocks/t/toy.py
  test/framework/sandbox/easybuild/easyblocks/t/toy_deprecated.py
  test/framework/toy_build.py
Labels: change, EasyBuild-5.0

#4516 don't allow unresolved templates in easyconfig parameters by default + add support for `--allow-unresolved-templates` configuration option
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/framework/extension.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
Labels: EasyBuild-5.0

#4719 Fix FFT entry in --list-toolchain output for Cray toolchains
  easybuild/tools/docs.py
Labels: bug fix, documentation

#4725 fall back to getting values with unresolved templates in `EasyBlock.check_checksums_for`
  easybuild/framework/easyblock.py
  test/framework/easyblock.py
Labels: bug fix, EasyBuild-5.0

#4726 add support for temporarily disabling requirement that all template values must resolve via `EasyConfig.expect_resolved_template_values`
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: enhancement, EasyBuild-5.0

#4578 Fix the checksum type check
  easybuild/framework/easyconfig/types.py
  test/framework/type_checking.py
Labels: bug fix, EasyBuild-5.0

#4727 resolve template values when getting checksums for extensions
  easybuild/framework/easyblock.py
  test/framework/easyconfig.py
Labels: bug fix, EasyBuild-5.0

#4728 do not attach PIPE file handle on STDIN of `run_shell_cmd` unless there are contents for it
  easybuild/tools/run.py
Labels: bug fix, EasyBuild-5.0

#4731 attach `/dev/null` to STDIN on `run_shell_cmd` without input content
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix, EasyBuild-5.0

#4732 sync with develop (20241226)
  easybuild/tools/docs.py
Labels: update, EasyBuild-5.0

#4729 update info being printed when fetch step is running to make it clear that checksums are verified as well
  easybuild/framework/easyblock.py
  test/framework/options.py
  test/framework/toy_build.py
Labels: enhancement, EasyBuild-5.0

#4733 allow deprecated behaviour when running `test_fetch_sources_git` with Python < 3.9
  test/framework/easyblock.py
Labels: bug fix, tests, EasyBuild-5.0
