Repository easybuilders/easybuild-framework, pull requests merged in 2024-08, with the labels that each got.

#4606 limit `maxparallel` to 16 by default
  easybuild/framework/easyconfig/default.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
Labels: enhancement, change

#4597 add `GNU_FTP_SOURCE` template constant
  easybuild/framework/easyconfig/templates.py
Labels: enhancement

#4598 add `GNU_FTP_SOURCE` template constant
  easybuild/framework/easyconfig/templates.py
Labels: enhancement, EasyBuild-5.0

#4599 fix `test_compiler_cache`
  test/framework/toolchain.py
Labels: bug fix, tests

#4603 improve error messages for empty EasyConfigs
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: enhancement

#4605 handle post-install patches in `check_checksums_for`
  easybuild/framework/easyblock.py
Labels: bug fix

#4607 Cleanup after removing Python 2 support
  .github/workflows/unit_tests.yml
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/py2vs3/py3.py
  easybuild/tools/systemtools.py
  test/framework/repository.py
Labels: code cleanup, EasyBuild-5.0

#4608 Add support for `--software-commit` and an associated template `%(software_commit)s`
  easybuild/framework/easyconfig/templates.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/easyconfig.py
  test/framework/options.py
Labels: enhancement, EasyBuild-5.0

#4609 fix `copy_file` with a folder as the target
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: bug fix

#4610 improve help string for `--dep-graph`
  easybuild/tools/options.py
Labels: enhancement

#4590 Add `--skip-sanity-check` option
  easybuild/framework/easyblock.py
  easybuild/main.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/options.py
Labels: enhancement

#4611 let `cmd.sh` script produced by `run_shell_cmd` define `$EB_CMD_OUT_FILE` + `$EB_CMD_ERR_FILE`
  easybuild/tools/run.py
  test/framework/run.py
Labels: enhancement, EasyBuild-5.0

#4612 improve logging in helper function used by `run_shell_cmd` to answer questions for interactive shell commands
  easybuild/tools/run.py
Labels: enhancement, EasyBuild-5.0

#4617 fix `run_shell_cmd` to avoid that same question is answered multiple times
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix, EasyBuild-5.0

#4594 fix help message for `--http-headers-fields-urlpat` configuration option
  easybuild/tools/options.py
Labels: bug fix

#4614 Use `getenv` modulefile command with `EnvironmentModules`
  easybuild/tools/module_generator.py
  easybuild/tools/modules.py
  test/framework/module_generator.py
Labels: enhancement, EasyBuild-5.0

#4550 set `usedforsecurity` to `False` when calling `hashlib.md5` with Python >= 3.9
  easybuild/tools/filetools.py
Labels: change, EasyBuild-5.0

#4585 avoid suggesting that `toolchainopts` are supported for `SYSTEM` compiler, since they're not
  easybuild/toolchains/compiler/systemcompiler.py
  test/framework/toolchain.py
  test/framework/toy_build.py
Labels: bug fix, EasyBuild-5.0

#4615 Add module cache build support on EnvironmentModules
  easybuild/tools/modules.py
  test/framework/modulestool.py
Labels: enhancement, EasyBuild-5.0

#4418 add `check_group` support for module files in Tcl syntax
  easybuild/tools/module_generator.py
  easybuild/tools/modules.py
  test/framework/module_generator.py
  test/framework/toy_build.py
Labels: enhancement, EasyBuild-5.0

#4373 drop load storm safe guard for Environment Modules v4.2.4+
  easybuild/tools/module_generator.py
  easybuild/tools/modules.py
  test/framework/module_generator.py
Labels: change, EasyBuild-5.0, EasyBuild-5.0-blocker

#4589 fix help text for `cuda_compute_capabilities` template
  easybuild/framework/easyconfig/templates.py
Labels: bug fix

#4501 enable `--module-extensions` by default (+ resolve template values used in extension version)
  easybuild/framework/easyblock.py
  easybuild/tools/config.py
  easybuild/tools/module_generator.py
  easybuild/tools/options.py
  test/framework/easyconfig.py
Labels: change, EasyBuild-5.0, EasyBuild-5.0-blocker

#4595 convert template constant lists to dicts and export the constants by name
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/framework/easyconfig/format/pyheaderconfigobj.py
  easybuild/framework/easyconfig/templates.py
  easybuild/framework/extension.py
  easybuild/tools/docs.py
  test/framework/easyconfig.py
Labels: change, EasyBuild-5.0

#4621 restore `%(software_commit)s` in `TEMPLATE_NAMES_DYNAMIC`
  easybuild/framework/easyconfig/templates.py
  test/framework/options.py
Labels: bug fix, EasyBuild-5.0
