Repository easybuilders/easybuild-framework, pull requests merged in 2024-10, with the labels that each got.

#4539 prepend to `$PYTHONPATH` or `$EBPYTHONPREFIXES` in generated module files by automatically scanning for python site package directories
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/config.py
  easybuild/tools/module_generator.py
  easybuild/tools/options.py
  test/framework/toy_build.py
Labels: feature, EasyBuild-5.0, EasyBuild-5.0-blocker

#4664 Add flushing and possible closing of `stdin` on `run_shell_cmd`
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix, EasyBuild-5.0

#4659 use Slurm as the default job backend + deprecate support for GC3Pie as job backend
  easybuild/tools/config.py
  easybuild/tools/job/gc3pie.py
  test/framework/parallelbuild.py
Labels: change, EasyBuild-5.0

#4668 Fix typo in `veryloose` toolchain option for RISC-V
  easybuild/toolchains/compiler/gcc.py
Labels: bug fix, riscv

#4500 Enable `module-depends-on` by default
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/default.py
  easybuild/tools/config.py
  easybuild/tools/module_generator.py
  easybuild/tools/options.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/module_generator.py
  test/framework/toy_build.py
Labels: change, EasyBuild-5.0, EasyBuild-5.0-blocker

#4674 also run tests with Python 3.13
  .github/workflows/eb_command.yml
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
  setup.py
Labels: tests, EasyBuild-5.0

#4640 improve error message for `--new-pr` when missing commit message
  easybuild/tools/github.py
  test/framework/options.py
Labels: enhancement

#4670 add support for `%(rpath_enabled)s` template value
  easybuild/framework/easyconfig/templates.py
  test/framework/easyconfig.py
Labels: enhancement

#4666 include path to `cmd.sh` script in output generated by `run_shell_cmd` when a command fails + use colors: red for ERROR line, yellow for path to output files + `cmd.sh` script
  easybuild/tools/output.py
  easybuild/tools/run.py
  test/framework/output.py
  test/framework/run.py
  test/framework/systemtools.py
Labels: enhancement, EasyBuild-5.0

#4684 sync with develop (20241016)
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/templates.py
  easybuild/scripts/findPythonDeps.py
  easybuild/toolchains/compiler/gcc.py
  easybuild/tools/github.py
  test/framework/easyconfig.py
  test/framework/options.py
Labels: update, EasyBuild-5.0

#4685 Use more robust mechanism for unsetting environment variables
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix

#4671 don't raise error when required extensions are not found when installing extensions in parallel
  easybuild/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0

#4475 disable strict RPATH sanity check by default, allow re-enabling it via `--strict-rpath-sanity-check` configuration option
  easybuild/framework/easyblock.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/toy_build.py
Labels: enhancement, EasyBuild-5.0, EasyBuild-5.0-blocker
