Repository easybuilders/easybuild-framework, pull requests merged in 2024-05, with the labels that each got.

#4523 switch checksum default to sha256
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: change, EasyBuild-5.0

#4515 always include `rpath` configuration setting in output of `--show-config`
  easybuild/tools/options.py
  test/framework/options.py
Labels: change, EasyBuild-5.0

#4527 sync with develop (20240506)
  easybuild/framework/easyblock.py
  easybuild/framework/extensioneasyblock.py
  easybuild/main.py
  easybuild/tools/config.py
  test/framework/easyblock.py
  test/framework/options.py
Labels: EasyBuild-5.0

#4526 deprecate old checksum options (incl. md5)
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/types.py
  easybuild/tools/filetools.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-deps.eb
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-gompi-2018a-test.eb
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-gompi-2018a.eb
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-multiple.eb
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-test.eb
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0.eb
  test/framework/easyconfigs/v2.0/toy-with-sections.eb
  test/framework/easyconfigs/v2.0/toy.eb
  test/framework/filetools.py
  test/framework/options.py
  test/framework/toy_build.py
Labels: change, EasyBuild-5.0

#4530 do not run unit tests on Python 3.5
  .github/workflows/eb_command.yml
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
Labels: bug fix, change

#4519 code cleanup in `easyblock.py`
  easybuild/framework/easyblock.py
Labels: code cleanup

#4525 add new `get_cwd` function to `tools.filetools` to retrieve current working directory
  easybuild/base/optcomplete.py
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/tools.py
  easybuild/tools/build_log.py
  easybuild/tools/filetools.py
  easybuild/tools/job/pbs_python.py
  easybuild/tools/options.py
  easybuild/tools/parallelbuild.py
  easybuild/tools/repository/svnrepo.py
  easybuild/tools/robot.py
  easybuild/tools/run.py
  easybuild/tools/testing.py
  test/framework/filetools.py
Labels: EasyBuild-5.0

#4533 Use dict.items() instead of repeatedly getting the value
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/config.py
  easybuild/tools/docs.py
  easybuild/tools/environment.py
  easybuild/tools/github.py
  easybuild/tools/module_naming_scheme/hierarchical_mns.py
  easybuild/tools/multidiff.py
  easybuild/tools/options.py
  easybuild/tools/systemtools.py
  easybuild/tools/testing.py
  easybuild/tools/toolchain/toolchain.py
  test/framework/easyconfig.py
Labels: performance, EasyBuild-5.0

#4511 add support for alternate easyconfig parameters/templates/constants
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/framework/easyconfig/format/pyheaderconfigobj.py
  easybuild/framework/easyconfig/parser.py
  easybuild/framework/easyconfig/templates.py
  test/framework/easyconfig.py
Labels: EasyBuild-5.0

#4545 fix `test_update_branch_github` which got broken because toy-0.0.eb easyconfig was modified
  test/framework/options.py
Labels: bug fix, tests, EasyBuild-5.0
