Repository easybuilders/easybuild-framework, pull requests merged in 2024-03, with the labels that each got.

#4472 add workaround for 404 error when installing packages in CI workflow for testing Apptainer integration
  .github/workflows/container_tests_apptainer.yml
Labels: bug fix, tests

#4470 fix `test_github_merge_pr` by using more recent easyconfigs PR
  test/framework/options.py
Labels: bug fix, tests

#4471 update easyblocks for toy extensions to make sure that asynchronous installation command is run in correct working directory
  test/framework/sandbox/easybuild/easyblocks/generic/toy_extension.py
  test/framework/sandbox/easybuild/easyblocks/t/toy.py
Labels: bug fix, tests, EasyBuild-5.0

#4469 sync with develop (20240227)
  .github/workflows/unit_tests.yml
  easybuild/tools/filetools.py
  easybuild/tools/github.py
  easybuild/tools/options.py
  test/framework/filetools.py
  test/framework/options.py
Labels: EasyBuild-5.0

#4477 Eliminate `distutils.util.strtobool`.
  easybuild/framework/easyconfig/types.py
  test/framework/type_checking.py
Labels: bug fix, EasyBuild-5.0

#4479 fix easyconfig parameter deprecation
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: bug fix, EasyBuild-5.0

#4480 Clean up parameter deprecation warnings, and update easybuild doc urls
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/build_log.py
  easybuild/tools/github.py
  easybuild/tools/modules.py
  easybuild/tools/toolchain/compiler.py
  test/framework/build_log.py
Labels: EasyBuild-5.0

#4400 rename unclear `*run*` methods to `*install_extension*` + rename `install_extensions` to `install_all_extensions`
  easybuild/framework/easyblock.py
  easybuild/framework/extension.py
  easybuild/framework/extensioneasyblock.py
  test/framework/docs.py
  test/framework/easyblock.py
  test/framework/options.py
  test/framework/sandbox/easybuild/easyblocks/generic/childcustomdummyextension.py
  test/framework/sandbox/easybuild/easyblocks/generic/childdeprecateddummyextension.py
  test/framework/sandbox/easybuild/easyblocks/generic/customdummyextension.py
  test/framework/sandbox/easybuild/easyblocks/generic/deprecateddummyextension.py
  test/framework/sandbox/easybuild/easyblocks/generic/toy_extension.py
  test/framework/sandbox/easybuild/easyblocks/t/toy.py
Labels: change, EasyBuild-5.0

#4482 sync with develop (20240311)
  easybuild/tools/toolchain/compiler.py
Labels: EasyBuild-5.0

#4476 Eliminate use of `distutils.version.StrictVersion`
  easybuild/tools/__init__.py
  easybuild/tools/loose_version.py
  easybuild/tools/modules.py
  test/framework/modules.py
  test/framework/modulestool.py
  test/framework/utilities_test.py
Labels: bug fix, EasyBuild-5.0

#4248 change `tar` command used in `get_source_tarball_from_git` to get reproducible tarballs
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: enhancement, change, EasyBuild-5.0

#4484 also run unit tests with Python 3.12 + add it to classifiers in `setup.py`
  .github/workflows/eb_command.yml
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
  easybuild/tools/run.py
  setup.py
  test/framework/run.py
Labels: tests, EasyBuild-5.0

#4489 add generic GCC and Clang compiler flags for RISC-V
  easybuild/toolchains/compiler/clang.py
  easybuild/toolchains/compiler/gcc.py
Labels: enhancement, EESSI
