Repository easybuilders/easybuild-framework, pull requests merged in 2024-11, with the labels that each got.

#4630 Reverse order for parsing files in `XDG_CONFIG_DIRS`
  easybuild/tools/options.py
  test/framework/config.py
  test/framework/options.py
Labels: bug fix, EasyBuild-5.0

#4672 mark support for installing extensions in parallel as being mature, since it's no longer experimental
  easybuild/framework/easyblock.py
  easybuild/tools/options.py
Labels: change, EasyBuild-5.0

#4682 updates and fixes for findPythonDeps script
  easybuild/scripts/findPythonDeps.py
Labels: enhancement

#4667 allow using`amend/try-amend` multiple times in an easystack file entry
  easybuild/tools/options.py
  test/framework/options.py
Labels: enhancement, easystack

#4673 mark easystack support as being mature, since it's no longer experimental
  easybuild/framework/easystack.py
Labels: change, EasyBuild-5.0

#4701 sync with develop (2024-11-10)
  easybuild/scripts/findPythonDeps.py
  easybuild/tools/options.py
  test/framework/options.py
Labels: EasyBuild-5.0

#4687 Allow use of custom delimiter for paths in module generator
  easybuild/framework/easyblock.py
  easybuild/tools/module_generator.py
  test/framework/easyblock.py
Labels: enhancement

#4710 avoid checking loaded module twice in findUpdatedEcs.sh
  easybuild/scripts/findUpdatedEcs.sh
Labels: enhancement

#4686 simplify code for determining the PYTHONPATH module entries
  easybuild/framework/easyblock.py
  easybuild/tools/module_generator.py
  test/framework/module_generator.py
Labels: code cleanup, EasyBuild-5.0

#4704 change semantics of `--dry-run`, so it doesn't imply `--robot`
  easybuild/tools/robot.py
  test/framework/easyconfig.py
  test/framework/options.py
Labels: change, EasyBuild-5.0

#4691 make `LooseVersion('1.0') == LooseVersion('1')`
  easybuild/framework/easyconfig/format/format.py
  easybuild/framework/easyconfig/format/version.py
  easybuild/tools/loose_version.py
  test/framework/ebconfigobj.py
  test/framework/utilities_test.py
Labels: bug fix, EasyBuild-5.0
