Repository easybuilders/easybuild-framework, pull requests merged in 2024-02, with the labels that each got.

#4435 create `lib` -> `lib64` symlink (or vice versa) *before* running `postinstallcmds`
  easybuild/framework/easyblock.py
  test/framework/toy_build.py
Labels: change, EasyBuild-5.0

#4461 replace `'` with `"` for `printf` to have bash replace a variable
  .github/workflows/unit_tests.yml
Labels: bug fix

#4454 allow only alphanumeric characters in the output filename
  easybuild/tools/run.py
  test/framework/run.py
Labels: bug fix, EasyBuild-5.0

#4456 fix description of `backup-modules` configuration option
  easybuild/tools/options.py
Labels: bug fix

#4466 fix link to documentation in ` close_pr` message
  easybuild/tools/github.py
Labels: bug fix

#4465 use `cp -dR` instead of `cp -a` for shell script extraction
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: bug fix

#4459 Enhance download instructions by mentioning active source path
  easybuild/framework/easyblock.py
  test/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0

#4463 add cuda compute capability integer format templates
  easybuild/framework/easyconfig/templates.py
  test/framework/easyconfig.py
Labels: enhancement, EasyBuild-5.0
