Repository easybuilders/easybuild-framework, pull requests merged in 2025-02, with the labels that each got.

#4754 Small improvements to `ModuleLoadEnvironment`
  easybuild/framework/easyblock.py
  easybuild/tools/modules.py
  test/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0

#4756 Remove superflous `is_string` method
  easybuild/base/testing.py
Labels: code cleanup, EasyBuild-5.0

#4755 enable non-blocking reads for streaming outputs
  easybuild/tools/run.py
  test/framework/options.py
  test/framework/run.py
Labels: bug fix, EasyBuild-5.0-blocker

#4739 Adapt `module show` command run to cope with non-zero exit code for non-existing module (required for Environment Modules v5.5+ and Lmod 8.7.56+)
  easybuild/tools/modules.py
  test/framework/modules.py
Labels: bug fix, EasyBuild-5.0

#4761 add BOTH_TO_DIR state to LibSymlink
  easybuild/framework/easyblock.py
  test/framework/easyblock.py
Labels: EasyBuild-5.0

#4757 remove duplication of logs of module commands
  easybuild/tools/modules.py
Labels: EasyBuild-5.0

#4655 add `module-search-path-headers` configuration option to control how modules set search paths to header files
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/default.py
  easybuild/tools/config.py
  easybuild/tools/modules.py
  easybuild/tools/options.py
  test/framework/easyblock.py
  test/framework/modules.py
Labels: enhancement, EasyBuild-5.0

#4736 Avoid making build directory read-only
  easybuild/framework/easyblock.py
Labels: bug fix

#4763 correctly deal with easyblocks that still use deprecated `make_module_req_guess` method: remove environment variables if they're not present in guesses
  easybuild/framework/easyblock.py
  easybuild/tools/modules.py
  test/framework/modules.py
Labels: bug fix, EasyBuild-5.0

#4765 Silence output of included easyblocks for `--terse`
  easybuild/tools/options.py
Labels: bug fix

#4762 Fix typo in log message, remove superflous "of"
  easybuild/framework/easyblock.py
Labels: bug fix, EasyBuild-5.0

#4764 don't enable keeping of debug symbols by default
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/options.py
  test/framework/toolchain.py
Labels: change, EasyBuild-5.0

#4669 Let jobs retweak easyconfigs themselves by passing down `--try-*` options
  easybuild/framework/easyconfig/tweak.py
  easybuild/main.py
  easybuild/tools/job/backend.py
  easybuild/tools/parallelbuild.py
  test/framework/easyconfig.py
  test/framework/options.py
  test/framework/parallelbuild.py
  test/framework/robot.py
Labels: bug fix, change, EasyBuild-5.0

#4580 Deprecate use of `parallel` easyconfig parameter and fix updating the template value
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/default.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/framework/easyconfig/format/format.py
  easybuild/framework/easyconfig/templates.py
  easybuild/framework/extension.py
  easybuild/scripts/mk_tmpl_easyblock_for.py
  easybuild/tools/systemtools.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/easyconfigs/test_ecs/s/SQLite/SQLite-3.8.10.2-GCC-6.4.0-2.28.eb
  test/framework/easyconfigs/test_ecs/s/SQLite/SQLite-3.8.10.2-foss-2018a.eb
  test/framework/easyconfigs/test_ecs/s/SQLite/SQLite-3.8.10.2-gompi-2018a.eb
  test/framework/easyconfigs/test_ecs/s/ScaLAPACK/ScaLAPACK-2.0.2-gompi-2018a-OpenBLAS-0.2.20-broken.eb
  test/framework/easyconfigs/test_ecs/s/ScaLAPACK/ScaLAPACK-2.0.2-gompi-2018a-OpenBLAS-0.2.20.eb
  test/framework/easyconfigs/test_ecs/s/ScaLAPACK/ScaLAPACK-2.0.2-gompic-2018a-OpenBLAS-0.2.20.eb
  test/framework/utilities.py
Labels: change, EasyBuild-5.0

#4771 sync with develop (20250224)
  easybuild/framework/easyblock.py
  easybuild/tools/options.py
Labels: update, EasyBuild-5.0

#4735 Add context manager for allowing unresolved templates and make the state members private + remove support for directly setting `enable_templating` and `expect_resolved_template_values`
  easybuild/framework/easyconfig/easyconfig.py
  test/framework/easyconfig.py
Labels: change, EasyBuild-5.0
