Repository easybuilders/easybuild-framework, pull requests merged in 2025-03, with the labels that each got.

#4777 set maximum level of parallellism via `parallel` configuration option rather than fixed value for `max_parallel` easyconfig parameter
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/default.py
  easybuild/tools/options.py
Labels: bug fix, EasyBuild-5.0

#4773 enable `keepsymlinks` by default
  easybuild/framework/easyconfig/default.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-gompi-2018a-test.eb
  test/framework/options.py
Labels: change, EasyBuild-5.0

#4601 copy build directory and/or log file(s) if installation failed to path specified via `--failed-install-build-dirs-path` or `--failed-install-logs-path`
  easybuild/base/testing.py
  easybuild/framework/easyblock.py
  easybuild/tools/config.py
  easybuild/tools/filetools.py
  easybuild/tools/options.py
  test/framework/filetools.py
  test/framework/options.py
  test/framework/sandbox/sources/toy/toy-0.0_add-bug.patch
  test/framework/toy_build.py
Labels: enhancement, EasyBuild-5.0

#4774 add support for `ModuleLoadEnvironment` aliases in `modextrapaths` easyconfig parameter + deprecate `allow_append_abs_path`, `allow_prepend_abs_path`, `modextrapaths_append` easyconfig parameters
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/constants.py
  easybuild/framework/easyconfig/default.py
  easybuild/framework/easyconfig/format/format.py
  easybuild/framework/easyconfig/parser.py
  easybuild/tools/modules.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/modules.py
  test/framework/options.py
  test/framework/toy_build.py
Labels: enhancement, change, EasyBuild-5.0

#4779 limit output included in sanity check failure message for missing RPATH section in output of '`readelf -d`' + fix regex used to look for `'(RPATH)'`
  easybuild/framework/easyblock.py
  test/framework/toy_build.py
Labels: bug fix, EasyBuild-5.0

#4778 fix `test_modulerc` by taking into account that wrapper module may also be shown as being loaded
  test/framework/module_generator.py
Labels: bug fix, tests, EasyBuild-5.0

#4769 Ignore other classes if software specific easyblock class was found
  easybuild/framework/easyconfig/tools.py
  easybuild/scripts/mk_tmpl_easyblock_for.py
  easybuild/tools/docs.py
  easybuild/tools/include.py
  test/framework/docs.py
  test/framework/sandbox/easybuild/easyblocks/f/foofoo.py
  test/framework/sandbox/easybuild/easyblocks/generic/bar.py
Labels: enhancement

#4783 stop using Ubuntu 20.4 in GitHub Actions workflows, use Ubuntu 22.04 instead
  .github/workflows/container_tests.yml
  .github/workflows/container_tests_apptainer.yml
  .github/workflows/eb_command.yml
  .github/workflows/end2end.yml
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
Labels: bug fix, update, tests, EasyBuild-5.0

#4791 fix f-strings in `filetools.extract_cmd`
  easybuild/tools/filetools.py
Labels: bug fix, EasyBuild-5.0-blocker

#4797 clean up use get_source_tarball_from_git` to use same checkout mechanism for creating tarball for Git repos with tags and commits
  easybuild/tools/filetools.py
  test/framework/filetools.py
Labels: bug fix, code cleanup, EasyBuild-5.0

#4798 add warning about possible checksum verification failure on non-reproducible sources
  easybuild/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0

#4786 sync with develop (20250303)
  easybuild/framework/easyconfig/tools.py
  easybuild/scripts/mk_tmpl_easyblock_for.py
  easybuild/tools/docs.py
  easybuild/tools/filetools.py
  easybuild/tools/include.py
  test/framework/docs.py
  test/framework/filetools.py
  test/framework/sandbox/easybuild/easyblocks/f/foofoo.py
  test/framework/sandbox/easybuild/easyblocks/generic/bar.py
Labels: update, EasyBuild-5.0

#4799 Allow empty string in `modextrapaths`
  easybuild/framework/easyblock.py
Labels: EasyBuild-5.0-blocker

#4801 avoid re-assigning `env_var_name` of outer for loop in inner for loop
  easybuild/framework/easyblock.py
Labels: bug fix, EasyBuild-5.0

#4795 Update GitHub actions workflows to use `ubuntu-24.04` where possible
  .github/workflows/eb_command.yml
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
Labels: update, tests, EasyBuild-5.0

#4802 fix environment variable name used in debug log message in `inject_module_extra_paths`
  easybuild/framework/easyblock.py
Labels: bug fix, EasyBuild-5.0

#4803 enhance tests to also check use of empty string in `modextrapaths`
  test/framework/easyblock.py
Labels: tests

#4808 Allow rpath toolchainopt for systemcompiler
  easybuild/toolchains/compiler/systemcompiler.py
  easybuild/tools/toolchain/compiler.py
  test/framework/toy_build.py
Labels: bug fix

#4784 make `delattr` aware of environment variables in `ModuleLoadEnvironment`
  easybuild/tools/modules.py
  test/framework/modules.py
Labels: bug fix, EasyBuild-5.0

#4805 Enhance `get_gpu_info` to also use `amd-smi` for AMD GPUs if possible
  easybuild/tools/systemtools.py
Labels: enhancement, EasyBuild-5.0

#4809 don't expand paths being considered for generated module file for temporary 'fake' module file to avoid filtering out paths for directories that don't exist yet
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/tweak.py
  test/framework/easyblock.py
  test/framework/easyconfig.py
  test/framework/easyconfigs/test_ecs/t/toy/toy-0.0-gompi-2018a-test.eb
  test/framework/options.py
  test/framework/toy_build.py
  test/framework/tweak.py
Labels: bug fix, EasyBuild-5.0

#4810 make `python2_is_deprecated` function cause an exit when using Python 2
  easybuild/tools/py2vs3/__init__.py
Labels: code cleanup, EasyBuild-5.0

#4816 add `--max-parallel` configuration option to control maximum number of cores to use, set to 16 by default
  easybuild/framework/easyblock.py
  easybuild/tools/config.py
  easybuild/tools/options.py
  test/framework/easyblock.py
  test/framework/systemtools.py
Labels: enhancement, bug fix, EasyBuild-5.0

#4813 Avoid unecessary warning about skipping checksum verification of Git repos
  easybuild/framework/easyblock.py
Labels: bug fix, EasyBuild-5.0

#4807 Improve test failure output for `assertEqual`
  easybuild/base/testing.py
Labels: enhancement, tests

#4792 Fix quoting of command in setup shell script
  easybuild/tools/run.py
Labels: bug fix, EasyBuild-5.0

#4788 Allow test case filtering by class name
  test/framework/utilities.py
Labels: enhancement, tests

#4796 Also allow trailing whitespaces for `examples` and `citing` easyconfig parameters
  easybuild/framework/easyconfig/style.py
  test/framework/style.py
Labels: enhancement

#4767 Avoid processing the same EasyConfig multiple times
  easybuild/framework/easyconfig/tools.py
  test/framework/easyconfig.py
Labels: bug fix

#4817 sync with develop (20250326)
  easybuild/framework/easyconfig/style.py
  easybuild/framework/easyconfig/tools.py
  test/framework/easyconfig.py
  test/framework/style.py
  test/framework/utilities.py
Labels: update, EasyBuild-5.0

#4776 modernize tests that require GitHub token
  test/framework/docs.py
  test/framework/easyconfig.py
  test/framework/github.py
  test/framework/options.py
  test/framework/robot.py
  test/framework/sandbox/easybuild/easyblocks/b/binutils.py
  test/framework/sandbox/easybuild/easyblocks/b/bzip2.py
  test/framework/sandbox/easybuild/easyblocks/c/cmake.py
  test/framework/sandbox/easybuild/easyblocks/f/fftwmpi.py
  test/framework/sandbox/easybuild/easyblocks/f/flex.py
  test/framework/sandbox/easybuild/easyblocks/f/freetype.py
  test/framework/sandbox/easybuild/easyblocks/generic/bundle.py
  test/framework/sandbox/easybuild/easyblocks/generic/cmakemake.py
  test/framework/sandbox/easybuild/easyblocks/generic/cmdcp.py
  test/framework/sandbox/easybuild/easyblocks/generic/mesonninja.py
  test/framework/sandbox/easybuild/easyblocks/generic/perlbundle.py
  test/framework/sandbox/easybuild/easyblocks/generic/pythonpackage.py
  test/framework/sandbox/easybuild/easyblocks/generic/tarball.py
  test/framework/sandbox/easybuild/easyblocks/l/libxml2.py
  test/framework/sandbox/easybuild/easyblocks/l/llvm.py
  test/framework/sandbox/easybuild/easyblocks/m/mesa.py
  test/framework/sandbox/easybuild/easyblocks/o/openssl_wrapper.py
  test/framework/sandbox/easybuild/easyblocks/p/perl.py
  test/framework/sandbox/easybuild/easyblocks/p/python.py
  test/framework/sandbox/easybuild/easyblocks/x/xcrysden.py
Labels: bug fix, tests, EasyBuild-5.0

#4819 bump version to 5.0.0 + update release notes
  RELEASE_NOTES
  easybuild/tools/version.py
Labels: update, EasyBuild-5.0

#4824 fix milestone used in `test_github_merge_pr`
  test/framework/options.py
Labels: bug fix, tests, EasyBuild-5.0

#4820 go back to using `develop` branch rather than `5.0.x` branch in GitHub Actions workflows
  .github/workflows/container_tests.yml
  .github/workflows/container_tests_apptainer.yml
  .github/workflows/end2end.yml
  test/framework/github.py
Labels: bug fix, tests

#4821 Fix help string of findPythonDeps.py
  easybuild/scripts/findPythonDeps.py
Labels: bug fix
