Repository easybuilders/easybuild-framework, pull requests merged in 2025-01, with the labels that each got.

#4737 faster `nub` function
  easybuild/tools/utilities.py
Labels: change, EasyBuild-5.0

#4579 Fix `to_checksums` with `None` values in dicts and recursion
  easybuild/framework/easyconfig/types.py
  test/framework/type_checking.py
Labels: bug fix, EasyBuild-5.0

#4653 refactor generation of required environment variables in module files + deprecate `make_module_req_guess` method in `EasyBlock` class
  easybuild/framework/easyblock.py
  easybuild/framework/extensioneasyblock.py
  easybuild/tools/config.py
  easybuild/tools/modules.py
  test/framework/easyblock.py
  test/framework/modules.py
  test/framework/sandbox/easybuild/easyblocks/t/toy.py
  test/framework/toy_build.py
Labels: enhancement, code cleanup, EasyBuild-5.0

#4720 use `enumerate` where applicable + fix for `ModuleGenerator._generate_multi_deps_list`
  easybuild/framework/easyblock.py
  easybuild/framework/easyconfig/easyconfig.py
  easybuild/tools/configobj.py
  easybuild/tools/module_generator.py
Labels: code cleanup, EasyBuild-5.0

#4748 add TODO and warning about non-path variables not being currently handled in module load environment
  easybuild/framework/easyblock.py
  easybuild/tools/modules.py
  test/framework/easyblock.py
Labels: enhancement, EasyBuild-5.0
